<section class="card border-top-0 rounded-top-0">
    <div class="card-body">
        <h1 class="card-title d-md-none">Tirelire</h1>
        <p class="lead">
            Ici je retrouve mon solde TiBillet et mes heures déclarées.
            Certaines monnaies ou monnaie-temps peuvent n'être utilisables
            qu'ailleurs.
        </p>
    </div>

     <!-- refund panel -->
     <div class="offcanvas-start offcanvas" tabindex="-1" id="refundPanel" aria-labelledby="refundPanelLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="refundPanelLabel">Demander le remboursement</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="alert  alert-primary" role="alert">
                <h4>Pas de  panique ! Vous avez le temps…</h4>
                <p>
                    TiBillet fonctionne sur un
                    principe de "<a href="#">monnaie fondante</a>". Vous avez 18
                    mois après votre dernière utilisation du Pass pour récupérer le reste de
                    crédits non utilisés. On vous renverra un mail un mois avant si
                    vous avez oublié.
                </p>
                <p>
                    Vous pouvez aussi en faire don au collectif
                    qui vous a fourni la carte.
                </p>
                <p>
                    Le Pass et votre compte, eux, sont
                    valables à vie !
                </p>
            </div>

            <div class="position-absolute bottom-0 start-0 end-0 p-3">
                <p class="lead">
                    Confirmer la demande de remboursement de 23 euros ?
                </p>
                
                <a href="." class="btn btn-primary d-block mb-3">Confirmer</a>
                <a href="." class="btn btn-secondary d-block mb-3">
                    Faire don de ma tirelire au Tiers-Lustre
                </a>
                <a href="." class="btn btn-danger d-block">Annuler</a>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-md bg-body-tertiary p-3">
            <h3>Monnaies</h3>
            <p class="lead">
                <strong>40,25</strong> tibillets utilisables avec
                <em>Le Tiers Lustre</em> <br />
                <span class="opacity-50"><strong>80,25</strong> tibillets en tout</span>
            </p>

            <a href="#" class="btn btn-primary d-block mb-3">
                Recharger ma tirelire
            </a>
            <a href="#detail-monnaies" class="btn btn-secondary d-block mb-3 d-md-none">
                Détail des monnaies
            </a>

            <button
                class="btn btn-secondary w-100 mb-3"
                type="button"
                id="button-filters"
                data-bs-toggle="offcanvas"
                data-bs-target="#refundPanel"
                aria-controls="refundPanel">
                Demander le remboursement (3 mois restants)
            </button>
            <p class="opacity-50 m-0">Seuls les tibillets sont remboursables en
                ligne. Pour les monnaies locales, demandez directement à une
                caisse de votre réseau local.</p>
        </div>
        <div class="col-md bg-body-tertiary p-3">
            <h3>Temps</h3>
            <p class="lead">
                <strong>03:30</strong> heures échangeables avec
                <em>Le Tiers Lustre</em> <br />
                <span class="opacity-50"><strong>07:00</strong> heures en tout</span>
            </p>
            <a href="#" class="btn btn-primary d-block mb-3">
                Déclarer des heures
            </a>
            <a href="#detail-heures" class="btn btn-secondary d-block d-md-none">
                Détail du temps
            </a>
        </div>
    </div>
</section>    

<div class="row">
    <div class="col-md">
        <h2 class="pt-3" id="detail-monnaies">Détail des monnaies</h2>
        <table class="table">
            <thead>
                <th>Solde</th>
                <th>Réseau concerné</th>
                <th>Dernière transaction</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong>23</strong>
                        tibillets
                    </td>
                    <td>
                        Utilisables partout
                    </td>
                    <td>21/03/24</td>
                </tr>
                <tr>
                    <td>
                        <strong>7</strong>
                        Étincelles
                    </td>
                    <td>
                        <a href="../reseau/">Un Pour Touche</a>
                    </td>
                    <td>12/03/24</td>
                </tr>
                <tr>
                    <td>
                        <strong>10,25</strong>
                        Étincelles cadeau
                    </td>
                    <td>
                        <a href="../reseau/">Un Pour Touche</a>
                    </td>
                    <td>16/03/24</td>
                </tr>
                <tr class="opacity-50">
                    <td>
                        <strong>12</strong>
                        Phonies
                    </td>
                    <td>
                        <a href="../reseau/">Un Pour Touche</a>
                    </td>
                    <td>05/01/24</td>
                </tr>
                <tr class="opacity-50">
                    <td>
                        <strong>8</strong>
                        Noisettes
                    </td>
                    <td>Les Assos du Bois</td>
                    <td>16/03/23</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md">
        <h2 class="pt-3" id="detail-heures">Détail du temps</h2>
        <table class="table">
            <thead>
                <th>Solde</th>
                <th>Réseau concerné</th>
                <th>Dernière transaction</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong>03:30</strong>
                        Heures Lumière
                    </td>
                    <td>
                        <a href="../reseau/">Un Pour Touche</a>
                    </td>
                    <td>07/04/24</td>
                </tr>
                <tr class="opacity-50">
                    <td>
                        <strong>03:30</strong>
                        Bûchages
                    </td>
                    <td>Les Assos du Bois</td>
                    <td>12/03/23</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<p class="py-3 text-center">
    <a href="#" class="btn btn-outline-primary d-block d-sm-inline">
        Historique des transactions
    </a>
</p>

<h2 class="pt-3 d-none">Historique des transactions</h2>
<div class="table-responsive d-none">
    <table class="table">
        <thead>
            <th>Montant</th>
            <th>Action</th>
            <th>Chemin</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>30</strong>
                    Étincelles
                </td>
                <td>Recharge</td>
                <td>
                    Carte bancaire
                    <i class="bi bi-arrow-right"></i>
                    Tirelire
                </td>
                <td>12/03/24</td>
            </tr>
        </tbody>
    </table>
</div>
