<main class="container-lg py-5">
    <h1>Les membres du réseau</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3 mb-5">
        <div class="col">
            $chantefrein
        </div>
        <div class="col">
            $bonnie_market
        </div>
        <div class="col">
            $danzavec
        </div>
        <div class="col">
            $sel_de_la_vie
        </div>
        <div class="col">
            $tiers_lustre
        </div>
        <div class="col">
            $philosoniques
        </div>
        <div class="col">
            $sand_witch
        </div>
    </div>
</main>
