<section class="card border-top-0 rounded-top-0">
    <div class="card-body">
        <h1 class="card-title d-md-none">Badgeuse</h1>
        <p class="lead">
            Ici je peux pointer à un des espaces disponible.
        </p>
    </div>
</section>    

<h2 class="pt-3">Les espaces pointables</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3 mb-5">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title">Coworking</h3>
                <p class="card-text">
                    Accès coworking, facturé à la journée ou au mois. Tarif
                    préférentiel pour les adhérannes Tiers-Lustre.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary d-block my-3">
                    Pointer pour une journée à <strong>3</strong> tibillets
                </a>
                <a href="#" class="btn btn-secondary d-block mb-3">
                    Pointer pour un mois à <strong>15</strong> tibillets
                </a>
            </div>
        </div>
    </div>
</div>

<h2 class="pt-3">Historique des pointages</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <th>Pointage</th>
            <th>Espace</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr>
                <td>Pointage journée (tarif adhéranne)</td>
                <td>Coworking</td>
                <td>06/07/24</td>
            </tr>
        </tbody>
    </table>
</div>
