<main class="container-lg py-5">
    <ul class="nav nav-tabs mb-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=".">
                <i class="bi bi-piggy-bank-fill"></i>
                <span class="d-none d-md-inline">Tirelire</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./transactions/">
                <i class="bi bi-cash-coin"></i>
                <span class="d-none d-md-inline">Transactions</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-person-badge-fill"></i>
                <span class="d-none d-md-inline">Adhésions</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-ticket-perforated-fill"></i>
                <span class="d-none d-md-inline">Réservations</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-stopwatch-fill"></i>
                <span class="d-none d-md-inline">Badgeuse</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-gear-fill"></i>
                <span class="d-none d-md-inline">Préférences</span>
            </a>
        </li>
    </ul>
    <section class="card border-top-0 rounded-top-0">
        <div class="card-body">
            <h1 class="card-title d-md-none">Tirelire</h1>
            <p class="lead">
                Adresse de récupération : <code>&lt;jdulac@exemple.fr&gt;</code>
            </p>
        </div>
        <div class="row g-0">
            <div class="col-md bg-body-tertiary p-3 d-flex flex-column">
                <h3>Monnaies</h3>
                <p class="lead flex-fill">
                    <strong>40,25</strong> crédits utilisables avec
                    <em>Le Tiers Lustre</em> <br />
                    <span class="opacity-50"><strong>80,25</strong> en tout</span>
                </p>

                <a href="#" class="btn btn-primary mb-3">
                    Recharger ma tirelire
                </a>
                <a href="#detail-monnaies" class="btn btn-secondary d-md-none mb-3">
                    Détail des monnaies
                </a>
            </div>
            <div class="col-md bg-body-tertiary p-3 d-flex flex-column">
                <h3>Pointages</h3>
                <p class="lead flex-fill">
                    <strong>03:30</strong> heures échangeables avec
                    <em>Le Tiers Lustre</em> <br />
                    <span class="opacity-50"><strong>07:00</strong> en tout</span>
                </p>
                <a href="#" class="btn btn-primary mb-3">
                    Déclarer des heures
                </a>
                <a href="#detail-heures" class="btn btn-secondary d-md-none mb-3">
                    Détail des heures
                </a>
            </div>
        </div>
    </section>    

    <div class="row">
        <div class="col-md">
            <h2 class="pt-3 d-md-none" id="detail-monnaies">Détail des monnaies</h2>
            <table class="table">
                <thead>
                    <th>Montant</th>
                    <th>Réseau concerné</th>
                    <th>Dernière transaction</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong>30</strong>
                            Étincelles
                        </td>
                        <td>
                            <a href="../reseau/">Un Pour Touche</a>
                        </td>
                        <td>12/03/24</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>10,25</strong>
                            Étincelles cadeau
                        </td>
                        <td>
                            <a href="../reseau/">Un Pour Touche</a>
                        </td>
                        <td>16/03/24</td>
                    </tr>
                    <tr class="opacity-50">
                        <td>
                            <strong>12</strong>
                            Phonies
                        </td>
                        <td>
                            <a href="../reseau/">Un Pour Touche</a>
                        </td>
                        <td>05/01/24</td>
                    </tr>
                    <tr class="opacity-50">
                        <td>
                            <strong>8</strong>
                            Noisettes
                        </td>
                        <td>Les Assos du Bois</td>
                        <td>16/03/23</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md">
            <h2 class="pt-3 d-md-none" id="detail-heures">Détail des heures</h2>
            <table class="table">
                <thead>
                    <th>Compte</th>
                    <th>Réseau concerné</th>
                    <th>Dernière transaction</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong>03:30</strong>
                            Heures Lumière
                        </td>
                        <td>
                            <a href="../reseau/">Un Pour Touche</a>
                        </td>
                        <td>07/04/24</td>
                    </tr>
                    <tr class="opacity-50">
                        <td>
                            <strong>03:30</strong>
                            Bûchages
                        </td>
                        <td>Les Assos du Bois</td>
                        <td>12/03/23</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</main>
