<article class="card h-100">
    <div class="card-body">
        <h3 class="card-title">Bonnie Market</h3>
        <p class="card-text">
            Rozenn et Amira vous accueillent à la boulangerie-épicerie du
            quartier Pourtouche.
        </p>
    </div>
    <div class="card-footer p-0">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th scope="row">Accepte</th>
                    <td>
                        <span class="badge text-bg-info">
                            <i class="bi bi-cash"></i>
                            Euro
                        </span>
                        <span class="badge text-bg-info">
                            <i class="bi bi-cash"></i>
                            Étincelle
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
