<article class="card h-100">
    <div class="card-body">
        <h3 class="card-title">Association Chantefrein</h3>
        <p class="card-text">
            Association de travail du bois, organisé autour de trois
            pôles : menuiserie, sculpture et formation à
            l'utilisation des machines. Gère l'atelier bois du
            Fusible.
        </p>
    </div>
    <div class="card-footer p-0">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th scope="row">Accepte</th>
                    <td>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-cash"></i>
                            Euro
                        </span>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-hourglass"></i>
                            Heure Lumière
                        </span>
                        <span class="badge text-bg-warning">
                            <i class="bi bi-person-badge"></i>
                            Adhésion Chantefrein
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Pour les adhérannes</th>
                    <td>
                        <span class="badge text-bg-info">
                            <i class="bi bi-stopwatch"></i>
                            Badgeuse
                        </span>
                        <span class="badge text-bg-info">
                            <i class="bi bi-house-add"></i>
                            Réservation d'espaces
                        </span>
                        <span class="badge text-bg-success">
                            <i class="bi bi-book"></i>
                            Enseignement
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
