<article class="card h-100">
    <div class="card-body">
        <h3 class="card-title">Danzavec'</h3>
        <p class="card-text">
            Collectif de danses trad et modernes (tango,
            rock'n'roll…) axé sur la rencontre et l'expression à
            plusieurs.
        </p>
    </div>
    <div class="card-footer p-0">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th scope="row">Accepte</th>
                    <td>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-cash"></i>
                            Euro
                        </span>
                        <span class="badge text-bg-warning">
                            <i class="bi bi-person-badge"></i>
                            Adhésion Danzavec'
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Offre</th>
                    <td>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-gift"></i>
                            Étincelle Cadeau
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Pour les adhérannes</th>
                    <td>
                        <span class="badge text-bg-success">
                            <i class="bi bi-book"></i>
                            Enseignement
                        </span>
                        <span class="badge text-bg-success">
                            <i class="bi bi-person-arms-up"></i>
                            Activité sportive
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
