<article class="card h-100">
    <div class="card-body">
        <h3 class="card-title">Philosoniques, musiques électroniques et conférences</h3>
        <p class="card-text">
            Festival de rencontres entre la musique électronique et la
            philosophie existentialiste né en 2019. Tous les ans, c'est trois
            jours de concerts et conférences sur des thématiques variées.
            Le festival a lieu sur la friche du Tiers-Lustre.
        </p>
    </div>
    <div class="card-footer p-0">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th scope="row">Accepte</th>
                    <td>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-cash"></i>
                            Euro
                        </span>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-cash"></i>
                            Étincelle
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Offre</th>
                    <td>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-gift"></i>
                            Phonie
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tous publics</th>
                    <td>
                        <span class="badge text-bg-info">
                            <i class="bi bi-ticket"></i>
                            Billetterie en ligne
                        </span>
                        <span class="badge text-bg-info">
                            <i class="bi bi-wifi"></i>
                            Bornes de recharge
                        </span>
                        <span class="badge text-bg-info">
                            <i class="bi bi-calendar-event"></i>
                            Évènements
                        </span>
                        <span class="badge text-bg-success">
                            <i class="bi bi-cup-straw"></i>
                            Débit de boisson
                        </span>
                        <span class="badge text-bg-success">
                            <i class="bi bi-music-note-beamed"></i>
                            Scène musicale
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
