<article class="card h-100">
    <div class="card-body">
        <h3 class="card-title">Sand Witch Sandwich</h3>
        <p class="card-text">
            Food truck locavore qui fait le tour des communes du canton. Décoré
            à la main, il propose sandwichs chauds ou froids, salades et
            citronnade maison. Il est présent au Tiers-Lustre pendant les scènes
            ouvertes et festivals.
        </p>
    </div>
    <div class="card-footer p-0">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th scope="row">Accepte</th>
                    <td>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-cash"></i>
                            Euro
                        </span>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-cash"></i>
                            Étincelle
                        </span>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-gift"></i>
                            Phonie
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Offre</th>
                    <td>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-gift"></i>
                            Étincelle Cadeau
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tous publics</th>
                    <td>
                        <span class="badge text-bg-success">
                            <i class="bi bi-truck"></i>
                            Itinérant
                        </span>
                        <span class="badge text-bg-success">
                            <i class="bi bi-cookie"></i>
                            Alimentaire
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
