<article class="card h-100">
    <div class="card-body">
        <h3 class="card-title">Le Sel de la Vie</h3>
        <p class="card-text">
            Cantine bénévole à destination des personnes précaires du quartier.
            Ses ingrédients viennent principalement des invendus des Halles de
            Pourtouche, mais elle est aussi alimentée par les dons.
        </p>
    </div>
    <div class="card-footer p-0">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th scope="row">Accepte</th>
                    <td>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-cash"></i>
                            Euro
                        </span>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-cash"></i>
                            Étincelle
                        </span>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-gift"></i>
                            Étincelle Cadeau
                        </span>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-gift"></i>
                            Phonie
                        </span>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-hourglass"></i>
                            Heure Lumière
                        </span>
                        <span class="badge text-bg-warning">
                            <i class="bi bi-person-badge"></i>
                            Adhésion Sel de la Vie
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Offre</th>
                    <td>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-hourglass"></i>
                            Heure Lumière
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tous publics</th>
                    <td>
                        <span class="badge text-bg-success">
                            <i class="bi bi-house-heart"></i>
                            Caritatif
                        </span>
                        <span class="badge text-bg-success">
                            <i class="bi bi-cookie"></i>
                            Alimentaire
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
