<article class="card h-100 border-primary">
    <div class="card-body">
        <h3 class="card-title">Le Tiers-Lustre</h3>
        <p class="card-text">
            À la réservation : 2 salles de répétition, 1 salle de
            danse, 1 salle de réunion.<br />
            Pour les adhérannes : ateliers bois et élec du Fusible,
            café-concert l'Ampoule.
            Occasionnellement : évènements en extérieur.
        </p>
    </div>
    <div class="card-footer p-0">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th scope="row">Accepte</th>
                    <td>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-cash"></i>
                            Euro
                        </span> 
                        <span class="badge text-bg-primary">
                            <i class="bi bi-cash"></i>
                            Étincelle
                        </span>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-gift"></i>
                            Étincelle Cadeau
                        </span>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-hourglass"></i>
                            Heure Lumière
                        </span>
                        <span class="badge text-bg-warning">
                            <i class="bi bi-person-badge"></i>
                            Adhésion Tiers-Lustre
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Offre</th>
                    <td>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-gift"></i>
                            Étincelle Cadeau
                        </span>
                        <span class="badge text-bg-primary">
                            <i class="bi bi-hourglass"></i>
                            Heure Lumière
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tous publics</th>
                    <td>
                        <span class="badge text-bg-info">
                            <i class="bi bi-calendar-event"></i>
                            Évènements
                        </span>
                        <span class="badge text-bg-info">
                            <i class="bi bi-house-add"></i>
                            Réservation d'espaces
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Pour les adhérannes</th>
                    <td>
                        <span class="badge text-bg-info">
                            <i class="bi bi-stopwatch"></i>
                            Badgeuse
                        </span>
                        <span class="badge text-bg-info">
                            <i class="bi bi-ticket"></i>
                            Billetterie en ligne
                        </span>
                        <span class="badge text-bg-success">
                            <i class="bi bi-tools"></i>
                            Fablab
                        </span>
                        <span class="badge text-bg-success">
                            <i class="bi bi-cup-straw"></i>
                            Débit de boisson
                        </span>
                        <span class="badge text-bg-success">
                            <i class="bi bi-music-note-beamed"></i>
                            Scène musicale
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
