<article class="card h-100 border-primary">
    <div class="card-body">
        <h3 class="card-title">Le Tiers-Lustre</h3>
        <p class="card-text">
            À la réservation : 2 salles de répétition, 1 salle de
            danse, 1 salle de réunion.<br />
            Pour les adhérannes : ateliers bois et élec du Fusible,
            café-concert l'Ampoule.
            Occasionnellement : évènements en extérieur.
        </p>
    </div>
    <div class="card-footer p-0">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th scope="row">Accepte</th>
                    <td>
                        <span class="badge text-bg-info">
                            <i class="bi bi-cash"></i>
                            Euro
                        </span> 
                        <span class="badge text-bg-info">
                            <i class="bi bi-cash"></i>
                            Étincelle
                        </span>
                        <span class="badge text-bg-info">
                            <i class="bi bi-gift"></i>
                            Étincelle Cadeau
                        </span>
                        <span class="badge text-bg-info">
                            <i class="bi bi-hourglass"></i>
                            Heure Lumière
                        </span>
                        <span class="badge text-bg-warning">
                            <i class="bi bi-person-badge"></i>
                            Adhésion Tiers-Lustre
                        </span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Offre</th>
                    <td>
                        <span class="badge text-bg-info">
                            <i class="bi bi-gift"></i>
                            Étincelle Cadeau
                        </span>
                        <span class="badge text-bg-info">
                            <i class="bi bi-hourglass"></i>
                            Heure Lumière
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="p-3">
            <a href="#" class="btn btn-primary d-block my-3">
                Espace en ligne Tiers-Lustre
            </a>
        </div>
    </div>
</article>
