<main class="container-lg my-5">
    <h1 class="display-1">Le Tiers-Lustre</h1>
    <img
        style="background-color: var(--kouler-piton)"
        src="../assets/motif/sevronkler.svg"
        class="img-fluid float-md-start d-none d-md-block w-25 rounded me-3 mb-1"
        alt="..."
    />
    <p class="lead">
        Au cœur de l'ancien quartier ouvrier de Pourtouche, le Tiers-Lustre vous
        propose des espaces de travail, de répétition et de création. Les
        adhérannes ont accès aux ateliers bois et élec du Fusible et au café
        bénévole de l'Ampoule. Entrez donc : y'a de la lumière !
    </p>
    <p class="clearfix">
        Le Tiers-Lustre occupe les murs de l'ancienne usine Fiat Lux. Bâtiment
        emblématique du quartier, celle-ci fournissait le territoire français en
        ampoules et luminaires jusqu'en 1963. Sa délocalisation déclencha un
        appauvrissement qualifié en 1988 d' "exode ouvrier" par l'élue de
        l'époque Maxine Dommaire.
    </p>
    <p>
        Le Tiers-Lustre se donne pour mission de (ré)ouvrir des espaces à
        investir et à vivre, à destination des habitannes du quartier. Notre
        quartier est beau, il est vivant, faisons-le briller !
    </p>
</main>
<section class="container-lg">
    <h2>Le réseau local</h2>
    <p>
        Un Pour Touche, c'est aujourd'hui septs acteurices du quartier
        Pourtouche, réuneis par notre envie de le pousser vers d'autres
        possibles.
    </p>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-5">
        <div class="col">
            <article class="card">
                <div class="card-body">
                    <h3 class="card-title">Association Chantefrain</h3>
                    <p class="card-text">
                        Association de travail du bois, organisé autour de trois
                        pôles : menuiserie, sculpture et formation à
                        l'utilisation des machines. Gère l'atelier bois du
                        Fusible.
                    </p>
                </div>
                <div class="card-footer p-0">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <th scope="row">Accepte</th>
                                <td>
                                    <span class="badge text-bg-primary">
                                        <i class="bi bi-cash"></i>
                                        Euro
                                    </span>
                                    <span class="badge text-bg-primary">
                                        <i class="bi bi-hourglass"></i>
                                        Heure Lumière
                                    </span>
                                    <span class="badge text-bg-warning">
                                        <i class="bi bi-person-badge"></i>
                                        Adhésion Chantefrain
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Pour les adhérannes</th>
                                <td>
                                    <span class="badge text-bg-info">
                                        <i class="bi bi-stopwatch"></i>
                                        Badgeuse
                                    </span>
                                    <span class="badge text-bg-info">
                                        <i class="bi bi-house-add"></i>
                                        Réservation d'espaces
                                    </span>
                                    <span class="badge text-bg-success">
                                        <i class="bi bi-book"></i>
                                        Enseignement
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
        <div class="col">
            <article class="card">
                <div class="card-body">
                    <h3 class="card-title">Danzavec'</h3>
                    <p class="card-text">
                        Collectif de danses trad et modernes (tango,
                        rock'n'roll…) axé sur la rencontre et l'expression à
                        plusieurs.
                    </p>
                </div>
                <div class="card-footer p-0">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <th scope="row">Accepte</th>
                                <td>
                                    <span class="badge text-bg-primary">
                                        <i class="bi bi-cash"></i>
                                        Euro
                                    </span>
                                    <span class="badge text-bg-warning">
                                        <i class="bi bi-person-badge"></i>
                                        Adhésion Danzavec'
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Valorise</th>
                                <td>
                                    <span class="badge text-bg-primary">
                                        <i class="bi bi-gift"></i>
                                        Étincelle Cadeau
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Pour les adhérannes</th>
                                <td>
                                    <span class="badge text-bg-success">
                                        <i class="bi bi-book"></i>
                                        Enseignement
                                    </span>
                                    <span class="badge text-bg-success">
                                        <i class="bi bi-person-arms-up"></i>
                                        Activité sportive
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
        <div class="col">
            <article class="card border-primary">
                <div class="card-body">
                    <h3 class="card-title">Le Tiers-Lustre</h3>
                    <p class="card-text">
                        À la réservation : 2 salles de répétition, 1 salle de
                        danse, 1 salle de réunion.<br />
                        Pour les adhérannes : ateliers bois et élec du Fusible,
                        café-concert l'Ampoule.
                        Occasionnellement : évènements en extérieur.
                    </p>
                </div>
                <div class="card-footer p-0">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <th scope="row">Accepte</th>
                                <td>
                                    <span class="badge text-bg-primary">
                                        <i class="bi bi-cash"></i>
                                        Euro
                                    </span> 
                                    <span class="badge text-bg-primary">
                                        <i class="bi bi-cash"></i>
                                        Étincelle
                                    </span>
                                    <span class="badge text-bg-primary">
                                        <i class="bi bi-gift"></i>
                                        Étincelle Cadeau
                                    </span>
                                    <span class="badge text-bg-primary">
                                        <i class="bi bi-hourglass"></i>
                                        Heure Lumière
                                    </span>
                                    <span class="badge text-bg-warning">
                                        <i class="bi bi-person-badge"></i>
                                        Adhésion annuelle Tiers-Lustre
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Valorise</th>
                                <td>
                                    <span class="badge text-bg-primary">
                                        <i class="bi bi-gift"></i>
                                        Étincelle Cadeau
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Tous publics</th>
                                <td>
                                    <span class="badge text-bg-info">
                                        <i class="bi bi-calendar-event"></i>
                                        Évènements
                                    </span>
                                    <span class="badge text-bg-info">
                                        <i class="bi bi-house-add"></i>
                                        Réservation d'espaces
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Pour les adhérannes</th>
                                <td>
                                    <span class="badge text-bg-info">
                                        <i class="bi bi-stopwatch"></i>
                                        Badgeuse
                                    </span>
                                    <span class="badge text-bg-success">
                                        <i class="bi bi-tools"></i>
                                        Fablab
                                    </span>
                                    <span class="badge text-bg-success">
                                        <i class="bi bi-cup-straw"></i>
                                        Café / bar
                                    </span>
                                    <span class="badge text-bg-success">
                                        <i class="bi bi-music-note-beamed"></i>
                                        Scène musicale
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </div>
</section>
