<main class="container-lg my-5">
    <h1 class="display-1">Le Tiers-Lustre</h1>
    <img
        style="background-color: var(--kouler-piton)"
        src="../assets/motif/sevronkler.svg"
        class="img-fluid float-md-start d-none d-md-block w-25 rounded me-3 mb-1"
        alt="..."
    />
    <p class="lead">
        Au cœur de l'ancien quartier ouvrier de Pourtouche, le Tiers-Lustre vous
        propose des espaces de travail, de répétition et de création. Les
        adhérannes ont accès aux ateliers bois et élec du Fusible et au café
        bénévole de l'Ampoule. Entrez donc : y'a de la lumière !
    </p>
    <p class="clearfix">
        Le Tiers-Lustre occupe les murs de l'ancienne usine Fiat Lux. Bâtiment
        emblématique du quartier, celle-ci fournissait le territoire français en
        ampoules et luminaires jusqu'en 1963. Sa délocalisation déclencha un
        appauvrissement qualifié en 1988 d' "exode ouvrier" par l'élue de
        l'époque Maxine Dommaire.
    </p>
    <p>
        Le Tiers-Lustre se donne pour mission de (ré)ouvrir des espaces à
        investir et à vivre, à destination des habitannes du quartier. Notre
        quartier est beau, il est vivant, faisons-le briller !
    </p>
</main>
<section class="container-lg">
    <h2>Le réseau local</h2>
    <p>
        Un Pour Touche, c'est aujourd'hui septs acteurices du quartier
        Pourtouche, réuneis par notre envie de le pousser vers d'autres
        possibles.
    </p>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3 mb-5">
        <div class="col">
            $chantefrein
        </div>
        <div class="col">
            $bonnie_market
        </div>
        <div class="col">
            $danzavec
        </div>
        <div class="col">
            $sel_de_la_vie
        </div>
        <div class="col">
            $tiers_lustre
        </div>
        <div class="col">
            $philosoniques
        </div>
        <div class="col">
            $sand_witch
        </div>
    </div>
</section>
