<main class="container-lg py-5">
    <p class="lead mb-5">Adresse liée : <code>jdulac@exemple.fr</code></p>

    <ul class="nav nav-tabs mb-0">
        <li class="nav-item">
            <a class="nav-link" href="../">
                <i class="bi bi-piggy-bank-fill"></i>
                <span class="d-none d-md-inline">Tirelire</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=".">
                <i class="bi bi-person-badge-fill"></i>
                <span class="d-none d-md-inline">Adhésions</span>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-ticket-perforated-fill"></i>
                <span class="d-none d-md-inline">Réservations</span>
            </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-stopwatch-fill"></i>
                <span class="d-none d-md-inline">Badgeuse</span>
            </a>
        </li>
        <li class="nav-item flex-fill">
            <a class="nav-link" href="#">
                <i class="bi bi-gear-fill"></i>
                <span class="d-none d-md-inline">Préférences</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-secondary" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span class="d-none d-md-inline">Me déconnecter</span>
            </a>
        </li>
    </ul>
    <section class="card border-top-0 rounded-top-0">
        <div class="card-body">
            <h1 class="card-title d-md-none">Adhésions</h1>
            <p class="lead">
                Ici je peux voir mes adhésions en cours, les renouveler et
                souscrire une nouvelle adhésion parmi celles disponibles sur le
                réseau.
            </p>
        </div>
    </section>    

    <h2 class="pt-3">Mes adhésions</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3 mb-5">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Adhésion Tiers-Lustre</h3>
                    <p class="card-text">
                        L'adhésion donne accès au Fusible (fablab, ateliers
                        bois et élec) et à l'Ampoule (café-concert, scène
                        musicale). L'atelier bois et géré à 80% par
                        l'association Chantefrein, adhésion séparée à prévoir
                        pour se servir des machines sur leurs créneaux.
                    </p>
                </div>
                <div class="card-footer">
                    <p><strong>Adhésion annuelle</strong> du 03/09/24 au 03/09/25</p>

                    <a href="#" class="btn btn-primary d-block mb-3">
                        Renouveler pour un an à <strong>20</strong> tibillets
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 opacity-50">
                <div class="card-body">
                    <h3 class="card-title">Pass-Noisette</h3>
                    <p class="card-text">
                        Avec le Pass-Noisette tu accède aux prix préférentiels
                        des Assos du Bois, et as un accès gratuit aux concerts
                        de l'été. Merci de nous soutenir !
                    </p>
                </div>
                <div class="card-footer">
                    <p><strong>Adhésion annuelle</strong> du 11/06/22 au 11/06/25</p>

                    <a href="#" class="btn btn-primary d-block mb-3 disabled">
                        Renouveler pour un an à <strong>12</strong> tibillets
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="pt-3">Souscrire une nouvelle adhésion</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3 mb-5">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Adhésion Chantefrein</h3>
                    <p class="card-text">
                        L'adhésion donne accès à la réservation de créneaux, aux
                        activités et formations sur des machines.
                    </p>
                </div>
                <div class="card-footer">
                    <p><strong>Adhésion mensuelle</strong> jusqu'au 18/11/24</p>

                    <a href="#" class="btn btn-secondary d-block mb-3">
                        Souscrire pour un mois à <strong>5</strong> tibillets
                    </a>

                    <p><strong>Adhésion annuelle</strong> jusqu'au 18/10/25</p>

                    <a href="#" class="btn btn-secondary d-block mb-3">
                        Souscrire pour un an à <strong>50</strong> tibillets
                    </a>
                </div>
            </div>
        </div>
    </div>

</main>
