<main class="container-lg py-5">
    <h1>Adhérer au réseau</h1>
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3 mb-5">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Chantefrein</h3>
                    <p class="card-text">
                        L'adhésion donne accès à la réservation de créneaux, aux
                        activités et formations sur des machines.
                    </p>
                </div>
                <div class="card-footer">
                    <p>Adhésion annuelle</p>

                    <a href="#" class="btn btn-primary d-block mb-3">
                        Prendre une adhésion
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Danzavec'</h3>
                    <p class="card-text">
                        ...
                    </p>
                </div>
                <div class="card-footer">
                    <p>Adhésion mensuelle auto ou annuelle</p>

                    <a href="#" class="btn btn-primary d-block mb-3">
                        Prendre une adhésion
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Le Sel de la Vie</h3>
                    <p class="card-text">
                        ...
                    </p>
                </div>
                <div class="card-footer">
                    <p>Adhésion annuelle</p>

                    <a href="#" class="btn btn-primary d-block mb-3">
                        Prendre une adhésion
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Le Tiers-Lustre</h3>
                    <p class="card-text">
                        L'adhésion donne accès au Fusible (fablab, ateliers
                        bois et élec) et à l'Ampoule (café-concert, scène
                        musicale). L'atelier bois et géré à 80% par
                        l'association Chantefrein, adhésion séparée à prévoir
                        pour se servir des machines sur leurs créneaux.
                    </p>
                </div>
                <div class="card-footer">
                    <p>Adhésion annuelle</p>

                    <a href="#" class="btn btn-primary d-block mb-3">
                        Prendre une adhésion
                    </a>
                </div>
            </div>
        </div>
    </div>

</main>
