<section class="card border-top-0 rounded-top-0">
    <div class="card-body">
        <h1 class="card-title d-md-none">Carte</h1>
        <p class="lead">
            Ici je peux retrouver les infos de ma carte, déclarer une carte
            perdue et dissocier ma carte.
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Numéro de carte</th>
                    <th>Origine</th>
                    <th>Gen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>C2B2400C</td>
                    <td>Le Tiers-Lustre</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md">
                <a href="#" class="btn btn-primary d-block mb-3 mb-md-0">
                    J'ai perdu ma carte
                </a>
            </div>
            <div class="col-md">
                <a href="#" class="btn btn-danger d-block">
                    Dissocier la carte
                </a>
                <p>La carte redeviendra éphémère, non liée à une adresse mail </p>
            </div>
        </div>
    </div>
</section>
